<html>
    <head>
        <title>task</title>
        <script src="/js/jquery-3.6.0.js"></script>
        <script src = "/js/task.js"></script>
    </head>
    <body>
        {{#if title}}
            <h2>{{title}}</h2>
        {{/if}}

        {{#if showUserName}}
            <h3>{{createdBy}}</h3>
        {{else}}
            <h3>Unknown Author</h3>
        {{/if}}
        {{#unless err}}
            <h4>Warning: Success</h4>
        {{/unless}}

        <ul>
            {{#each taskArr}}
                <li>{{this}}</li>
            {{/each}}
        </ul>

        <ol>
            {{#each fruitArr}}
                <li>{{this}}</li>
            {{/each}}

        </ol>
        <h1>Student table</h1>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>description</th>
                    <th>Status</th>
                    <th>owner</th>
                </tr>
            </thead>
            <tbody>
                <button style="float: right;" id="logoutBtn">Logout</button>
                <button style="float: right;" id="resetBtn">Reset password</button>
                {{#each taskArr}}
                    <tr>
                        <td><input type = "checkbox" id="{{this.id}}"></td>
                        <td>{{this.description}}</td>
                        <td>
                            {{#if this.completed}}
                                completed
                            {{else}}
                                Incomplete
                            {{/if}}                            
                        </td>
                        <td>{{this.owner.name}}</td>

                    </tr>
                {{/each}}
            </tbody>
            <button id="addBtn">Add</button><br>
            <button id="deleteBtn">Delete</button>
        </table>
        <div class="pagination">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
        </div>
    </body>
</html>